<div class="rle_banner_wrapper">
	<div class="rle_header_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="rle_logo">
						<a href="#"><img src="../../../../assets/images/icon/logo.png" alt="Logo" title="Logo"></a>
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<button class="rle_menu_btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
					<div class="rle_main_menu_wrapper">
						<div class="rle_main_menu">
							<ul>
								<li><a href="#">home</a>
									<ul class="sub-menu">
										<li><a href="index.html">home 1</a></li>
										<li><a href="index2.html">home 2</a></li>
										<li><a href="index3.html">home 3</a></li>
										<li><a href="index4.html">home 4</a></li>
									</ul>
								</li>
								<li><a href="about.html">about us</a></li>
								<li><a href="#">property</a>
									<ul class="sub-menu">
										<li><a href="property_gird_fullwidth.html">gird fullwidth</a></li>
										<li><a href="property_gird_sidebar.html">gird sidebar</a></li>
										<li><a href="property_list_fullwidth.html">list fullwidth</a></li>
										<li><a href="property_list_sidebar.html">list sidebar</a></li>
										<li><a href="property_map.html">property map</a></li>
										<li><a href="property_single_v1.html">single v1</a></li>
										<li><a href="property_single_v2.html">single v2</a></li>
									</ul>
								</li>
								<li><a href="#">agents</a>
									<ul class="sub-menu">
										<li><a href="agent.html">agent</a></li>
										<li><a href="agent_single.html">agent single</a></li>
									</ul>
								</li>
								<li><a href="#">pages</a>
									<ul class="sub-menu">
										<li><a href="blog.html">blog</a></li>
										<li><a href="blog_grid_v1.html">grid v1</a></li>
										<li><a href="blog_grid_v2.html">grid v2</a></li>
										<li><a href="blog_single.html">blog single</a></li>
										<li><a href="gallery.html">gallery</a></li>
										<li><a href="404_pages.html">404 error</a></li>
									</ul>
								</li>
								<li><a href="contact.html">contact</a></li>
							</ul>
						</div>
					</div>
					<div class="rle_signin">
						<a href="#" class="rle_btn" id="login_button">sign in</a>
						<div id="login_one" class="rle_login_form">
							<p>Don’t have an account? <a href="#">Sign up</a></p>
							<form class="form">
								<input type="text" placeholder="Username">
								<input type="password" placeholder="Password">
								<div class="rle_checkbox">
									<input type="checkbox" id="remember_me" checked />
									<label for="remember_me">Remember me</label>
								</div>
								<a href="#" class="forgot_pswd">forgot password?</a>
								<button type="submit" class="rle_btn">sign in</button>
								<span>or</span>
								<a href="#" class="share_btn fcbk_clr_1"><i class="fa fa-facebook" aria-hidden="true"></i>login with facebook</a>
								<a href="#" class="share_btn ggl_clr_2"><i class="fa fa-google-plus" aria-hidden="true"></i>login with google plus</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="rle_banner_text">
					<h1>luxury properties <span>for sale</span></h1>
					<p>Exclusive luxury residential specialists</p>
				</div>
			</div>
		</div>
	</div>
</div>
