/*---------- Header start ----------*/
.rle_top_header{
	float:right;
	width:auto;
	margin-bottom:20px;
}
.rle_top_header ul{
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
}
.rle_top_header ul li{
	float:left;
	width:auto;
	list-style:none;
	margin-left:15px;
	color:#ffffff;
	text-transform:capitalize;
}
.rle_top_header ul li img{
	margin-right:10px;
}
.rle_top_header ul li a{
	color:#ffffff;
	text-decoration:none;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.rle_top_header ul li a:hover{
	color:#00aeef;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
 .rle_main_menu{
	float:left;
	width:calc(100% - 110px);
	padding-top: 5px;
}
 .rle_signin{
	float:right;
	width:auto;
    padding-top: 5px;
	position:relative;
}
 .rle_signin a.rle_btn{
    height: 35px;
    line-height: 30px;
	font-size:14px;
}
 .rle_signin a.rle_btn:focus{
    text-decoration:none;
	color:#ffffff;
}
.rle_login_form {
    position: absolute;
    right: 0%;
    top: 170%;
    padding: 20px;
    width: 250px;
    display: inline-block;
    border-radius: 0px;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    z-index: 1000;
	display:none;
}
.rle_login_form p{
	float:left;
	width:100%;
}
.rle_login_form p a{
	color:#00aeef;
}
.rle_login_form .form{
	float:left;
	width:100%;
}
.rle_login_form .form input[type="text"], .rle_login_form .form input[type="password"]{
	float:left;
	width:100%;
	height:45px;
	padding:0px 15px;
	border:1px solid #e1e1e1;
	box-shadow:none;
	margin-bottom:15px;
}
.rle_login_form .form input:focus{
	outline:none;
}
.rle_checkbox {
	float: left;
	width: auto;
	text-align: left;
}
.rle_checkbox [type="checkbox"]:not(:checked), .rle_checkbox [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
.rle_checkbox [type="checkbox"]:not(:checked) + label{
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    outline: none;
    color: #8C8C8C;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
}
.rle_checkbox [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    outline: none;
    color: #707070;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}
.rle_checkbox [type="checkbox"]:not(:checked) + label:before{
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	width: 14px;
	height: 14px;
	background-color: #D4D4D4;
	border-radius: 0px;
	outline: none;
}
.rle_checkbox [type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	background-color: #8C8C8C;
	width: 14px;
	height: 14px;
	border-radius: 0px;
	outline: none;
}
.rle_checkbox [type="checkbox"]:not(:checked) + label:after, .rle_checkbox [type="checkbox"]:checked + label:after {
    content: "";
    width: 14px;
	height: 14px;
    background-image: url('../../../../assets/images/icon/checked.svg');
    background-repeat: no-repeat;
	background-position: center;
    background-size: 10px 8px;
	border-radius: 0px;
    position: absolute;
    top: 3px;
    left: 0px;
}
.rle_checkbox [type="checkbox"]:not(:checked) + label:after {
	background-color: #00aeef;
	opacity: 0;
	transition:all 0.3s;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.rle_checkbox [type="checkbox"]:checked + label:after {
	background-color: #00aeef;
	opacity: 1;
	transition:all 0.3s;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.rle_checkbox [type="checkbox"]:disabled:not(:checked) + label:before, .rle_checkbox [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
.rle_checkbox [type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
.rle_checkbox [type="checkbox"]:disabled + label {
	color: #aaa;
}
.rle_login_form .form a.forgot_pswd{
	float:right;
	width:auto;
	font-size:12px;
	text-align:right;
	padding-top:3px;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.rle_login_form .form a.forgot_pswd:hover{
	color:#00aeef;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.rle_login_form .form button.rle_btn{
	width:100%;
	margin:15px 0px;
}
.rle_login_form .form span{
	float:left;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	position:relative;
}
.rle_login_form .form span:after{
	content:"";
	position:absolute;
	top:10px;
	left:0px;
	background-color:#e1e1e1;
	height:1px;
	width:80px;
}
.rle_login_form .form span:before{
	content:"";
	position:absolute;
	top:10px;
	right:0px;
	background-color:#e1e1e1;
	height:1px;
	width:80px;
}
.rle_login_form .form  a.share_btn{
	float: left;
    width: 100%;
    height: 45px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #e1e1e1;
    margin-top: 15px;
	border-radius:3px;
}
.rle_login_form .form  a.share_btn i{
    float: left;
    width: 43px;
    height: 43px;
    font-size: 14px;
    line-height: 43px;
    border-right: 1px solid #e1e1e1;
}
.fcbk_clr_1{
	background-color:#3b5a9a;
	border-color:#3b5a9a;
}
.ggl_clr_2{
	background-color:#dd4b39;
	border-color:#dd4b39;
}
.rle_menu_btn{
	display:none;
}
 .rle_main_menu ul{
    float: right;
    width: auto;
    margin: 0px;
    padding: 0px;
}
 .rle_main_menu ul li{
	float:left;
	list-style:none;
	position:relative;
}
 .rle_main_menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    margin-right: 40px;
    text-transform: uppercase;
    position: relative;
    padding: 8px 0px;
    display: block;
}
 .rle_main_menu ul li a:after{
	content: "";
    position: absolute;
    top: 100%;
    left: 0;
	right:0;
	margin:0px auto;
    border-bottom: 2px solid #ffffff;
    width: 0%;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
 .rle_main_menu ul li a:after{
	border-bottom: 2px solid #00aeef;
}
 .rle_main_menu ul li a:hover:after{
    width: 100%;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
 .rle_main_menu ul li:hover ul.sub-menu{
    opacity: 1;
    visibility: visible;
    -webkit-transform: -webkit-translateY(0px);
    -moz-transform: -moz-translateY(0px);
    -ms-transform: -ms-translateY(0px);
    -o-transform: -o-translateY(0px);
    transform: translateY(0px);
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
 .rle_main_menu ul li ul.sub-menu{
	position: absolute;
    width: 150px;
    background-color: #ffffff;
    top: 100%;
    left: 0;
	opacity: 0;
    visibility: hidden;
	z-index:3;
    -webkit-transform: -webkit-translateY(15px);
    -moz-transform: -moz-translateY(15px);
    -ms-transform: -ms-translateY(15px);
    -o-transform: -o-translateY(15px);
    transform: translateY(15px);
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
    -webkit-box-shadow: 0px 3px 15px -5px #000000;
    -moz-box-shadow: 0px 3px 15px -5px #000000;
    -o-box-shadow: 0px 3px 15px -5px #000000;
    -ms-box-shadow: 0px 3px 15px -5px #000000;
    box-shadow: 0px 3px 15px -5px #000000;
}
 .rle_main_menu ul li ul.sub-menu li{
	width:100%;
	margin:0px;
}
 .rle_main_menu ul li ul.sub-menu li a{
	color: #272727;
    margin: 0px;
    padding: 5px 20px;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
 .rle_main_menu ul li ul.sub-menu li a:hover{
	color: #ffffff;
	background-color:#00aeef;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
 .rle_main_menu ul li ul.sub-menu li a:after{
	display:none;
}
.rle_banner_text{
	float:left;
	width:100%;
	text-align:center;
	padding:165px 0px 0px 0px;
}
.rle_banner_text h1{
	float:left;
	width:100%;
	color:#ffffff;
	text-transform:uppercase;
}
.rle_banner_text h1 span{
	color:#eeb32a;
}
.rle_banner_text p{
	float:left;
	width:100%;
	color:#ffffff;
	margin:0px;
	font-size:18px;
}
.rle_searchform_wrapper{
	float:left;
	width:100%;
	background-color:#f7f8f9;
}
.rle_searchform_wrapper2{
	float:left;
	width:100%;
	background-color:#ffffff;
}
.rle_searchform_tabs{
	float:left;
	width:100%;
    margin-top: -140px;
}

.rle_searchform_tabs .tab-content{
	float:left;
	width:100%;
    background-color:#ffffff;
	-webkit-box-shadow: 0px -1px 30px -10px #000000;
	-moz-box-shadow: 0px -1px 30px -10px #000000;
	-o-box-shadow: 0px -1px 30px -10px #000000;
	-ms-box-shadow: 0px -1px 30px -10px #000000;
	box-shadow: 0px -1px 30px -10px #000000;
}
.rle_searchform_tabs .nav-tabs {
    border-bottom: 0px solid #ddd;
}
.rle_searchform_tabs ul.nav-tabs {
    border-bottom: 0px solid #ddd;
}
.rle_searchform_tabs ul.nav-tabs > li{
    margin-bottom: 0px;
}
.rle_searchform_tabs ul.nav-tabs > li > a {
	text-transform:capitalize;
	color:#ffffff;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.5);
	font-size:16px;
	padding:13px 40px;
}
.rle_searchform_tabs ul.nav > li > a:hover, .rle_searchform_tabs ul.nav > li > a:focus {
    text-decoration: none;
    background-color: #f4a42b;
	border-color: transparent;
}
.rle_searchform_tabs ul.nav-tabs > li.active > a, .rle_searchform_tabs ul.nav-tabs > li.active > a:hover, .rle_searchform_tabs ul.nav-tabs > li.active > a:focus {
    color: #ffffff;
    border: 1px solid #f4a42b;;
    background-color: #f4a42b;
}
.rle_searchform_box{
	float:left;
	width:100%;
	padding:30px 0px 0px 20px;
}
.rle_searchform_box .ui-widget.ui-widget-content {
    border: 0px;
}
.rle_searchform_box .ui-widget-content {
    background: #00aeef;
}
.rle_searchform_box .ui-corner-all{
	border-radius:100px;
}
.rle_searchform_box .ui-slider-horizontal {
    height: 4px;
}
.rle_searchform_box .ui-slider-horizontal .ui-slider-handle {
    top: -6px;
}
.rle_searchform_box .ui-slider .ui-slider-handle {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.rle_searchform_box .ui-state-default, .rle_searchform_box .ui-widget-content .ui-state-default, .rle_searchform_box .ui-widget-header .ui-state-default, .rle_searchform_box .ui-button, html .rle_searchform_box .ui-button.ui-state-disabled:hover, html .rle_searchform_box .ui-button.ui-state-disabled:active {
    border: 1px solid #e1e1e1;
    background: #ffffff;
}
.rle_searchform_box .ui-state-hover,
.rle_searchform_box .ui-widget-content .ui-state-hover,
.rle_searchform_box .ui-widget-header .ui-state-hover,
.rle_searchform_box .ui-state-focus,
.rle_searchform_box .ui-widget-content .ui-state-focus,
.rle_searchform_box .ui-widget-header .ui-state-focus,
.rle_searchform_box .ui-button:hover,
.rle_searchform_box .ui-button:focus {
	border: 1px solid #e1e1e1;
	background: #ffffff;
}
.rle_searchform_box .ui-widget-header {
    border: 1px solid #00aeef;
    background: #00aeef;
}
.rle_searchform_box input, .rle_searchform_box select{
	float:left;
	width:100%;
	padding:0px 15px;
	height:45px;
	border-radius:3px;
	border:1px solid #e1e1e1;
	margin-bottom: 30px;
}

.rle_searchform_btn{
    float: left;
    width: 100%;
    background-color: #00aeef;
    text-align: center;
    padding: 50px 0px;
	cursor:pointer;
}
.rle_searchform_btn i, .rle_searchform_btn p{
	float:left;
	width:100%;
	color:#ffffff;
	text-transform:uppercase;
	font-size:16px;
	margin-bottom:0px;
}
.rle_searchform_btn p{
	font-weight:bold;
}
.rle_searchform_btn img{
	margin-bottom:10px;
}
.rle_banner_tabs{
	float:left;
	width:100%;
	margin-top:150px;
	padding:50px;
	background-color:#ffffff;
}
.rle_banner_tabs_infobox{
	float:left;
	width:100%;
	position:relative;
}
.rle_banner_tabs_infobox h1{
	float:left;
	width:100%;
	margin-top:0px;
	font-size:48px;
	font-weight:600;
	text-transform:capitalize;
}
.rle_banner_tabs_infobox p{
	float:left;
	width:100%;
	font-size:24px;
	text-transform:capitalize;
}
.rle_banner_tabs_infobox ul{
	float:left;
	width:100%;
	margin:20px 0px 40px 0px;
	padding:30px 0px 0px 0px;
	position:relative;
}
.rle_banner_tabs_infobox ul:after{
	content:"";
	position:absolute;
	background-color:#e1e1e1;
	height:1px;
	width:130px;
	top:0px;
	left:0px;
}
.rle_banner_tabs_infobox ul li{
	list-style:none;
	float:left;
	width:auto;
	margin-right:15px;
}
.rle_banner_tabs_infobox ul li p{
	float:left;
	width:100%;
	margin:0px;
	font-size:36px;
	color:#303030;
    line-height: 32px;
	text-transform:capitalize;
}
.rle_banner_tabs_infobox ul li span{
	float:left;
	width:100%;
	font-size:18px;
	text-transform:capitalize;
}
.rle_banner_tabs_infobox .rle_price_box{
	position: absolute;
    top: 25%;
    right: 0px;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    padding: 5px;
    background-color: #f4a42b;
	text-align:center;
}
.rle_banner_tabs_infobox .rle_price_box .rle_price_box_info{
    float: left;
    width: 100%;
    border: 2px dashed #ffffff;
    height: 100%;
    border-radius: 100%;
    padding-top: 50px;
}
.rle_banner_tabs_infobox .rle_price_box .rle_price_box_info h1{
    float: left;
    width: 100%;
	font-size:30px;
	color:#ffffff;
	margin:0px;
}
.rle_banner_tabs_infobox .rle_price_box .rle_price_box_info p{
	float: left;
    width: 100%;
	font-size:16px;
	color:#ffffff;
	text-transform:uppercase;
}

.rle_banner_tabslist_info{
    display: inline-block;
    width: 100%;
}
.rle_banner_tabslist_info span{
    float:left;
    width: 40px;
	color:#ffffff;
	font-size:30px;
}
.rle_banner_tabslist_info_box {
	float:left;
	width:calc(100% - 40px);
	border-left:1px solid #ffffff;
	padding-left:20px;
}
.rle_banner_tabslist_info_box h4{
    display: inline-block;
    width: 100%;
	font-size:20px;
	color:#ffffff;
	margin:0px;
}
.rle_banner_tabslist_info_box p{
    display: inline-block;
    width: 100%;
	color:#ffffff;
	margin:0px;
}
