.rle_banner_wrapper{
	float:left;
	width:100%;
	background-image:url(../../../../assets/images/banner/bnr1.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	height:600px;
    position: relative;
}
.rle_banner_wrapper.style_2{
	height:800px;
	background-image:url(../../../../assets/images/banner/bnr2.jpg);
}
.rle_banner_wrapper.style_3{
	height:950px;
	background-image:url(../../../../assets/images/banner/bnr3.jpg);
}
.rle_banner_wrapper.style_4{
    height: auto;
    background-image: none;
    background-color: #ffffff;
}
.rle_header_wrapper{
	float:left;
	width:100%;
	padding:20px 0px;
	background-color:rgba(0, 0, 0, 0.2);
}
.rle_header_wrapper.style_3{
	padding:20px 0px 0px 0px;
	background-color:transparent;
}
.rle_header_wrapper.style_2{
	background-color:#0f1c2f;
}
.rle_header_wrapper.style_4{
	background-color:#ffffff;
}
.rle_header_wrapper.style_5{
	background-color:#374255;
}
.rle_header_wrapper .rle_logo{
	float:left;
	width:100%;
}
.rle_header_wrapper.style_2 .rle_logo{
	padding-top:15px;
}
