.rle_banner_wrapper{
	float:left;
	width:100%;
	background-image:url(../../../../assets/images/banner/bnr1.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	height:600px;
    position: relative;
}
.rle_header_wrapper{
	float:left;
	width:100%;
	padding:20px 0px;
	background-color:rgba(0, 0, 0, 0.2);
}
.rle_header_wrapper .rle_logo{
	float:left;
	width:100%;
}
.rle_property_wrapper{
	float:left;
	width:100%;
	background-color:#f7f8f9;
}

.rle_center_heading{
	float:left;
	width:100%;
    text-align: center;
}
.rle_center_heading h1{
	float:left;
	width:100%;
	font-size:30px;
	margin:0px 0px 10px 0px;
}
.rle_center_heading p{
    float: left;
    width: 100%;
    font-size: 16px;
    color: #695b5b;
    position: relative;
    margin: 0px;
    padding: 0px 0px 10px 0px;
}
.rle_center_heading p:after{
	content:"";
	position:absolute;
	top:100%;
	left:0;
	right:0;
	margin:0px auto;
	background-color:#00aeef;
	width:50px;
	height:2px;
}
.rle_center_heading.white_text h1, .rle_center_heading.white_text p{
	color:#ffffff;
}
.rle_center_heading.white_text p:after{
	background-color:#ffffff;
}
.rle_left_heading{
	float:left;
	width:100%;
    text-align: left;
}
.rle_left_heading h1{
	float:left;
	width:100%;
	font-size:30px;
	margin:0px 0px 10px 0px;
}
.rle_left_heading p{
    float: left;
    width: 100%;
    font-size: 16px;
    color: #695b5b;
    position: relative;
    margin: 0px;
    padding: 0px 0px 10px 0px;
}
.rle_left_heading p:after{
	content:"";
	position:absolute;
	top:100%;
	left:0;
	background-color:#00aeef;
	width:50px;
	height:2px;
}
.rle_left_heading.white_text h1, .rle_left_heading.white_text p{
	color:#ffffff;
}
.rle_left_heading.white_text p:after{
	background-color:#00aeef;
}

.rle_btn_wrapper a{
    color: #ffffff;
}
