<div class="rle_banner_wrapper">
	<div class="rle_header_wrapper">
    <app-header></app-header>
    <app-banner></app-banner>
	</div>
</div>
<app-search-box></app-search-box>

<div class="rle_property_wrapper rle_toppadder100 rle_bottompadder70">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="rle_center_heading rle_bottompadder60">
					<h1>Top properties</h1>
					<p>Check out some of our listed properties</p>
				</div>
			</div>
			<app-property-box></app-property-box>
      <app-property-box></app-property-box>
      <app-property-box></app-property-box>
      <app-property-box></app-property-box>
      <app-property-box></app-property-box>
      <app-property-box></app-property-box>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="rle_btn_wrapper rle_toppadder40">
					<a href="#" class="rle_btn">View all properties</a>
				</div>
			</div>
		</div>
	</div>
</div>
