<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <div class="rle_property_infobox">
    <div class="rle_property_infobox_img">
      <img src="../../../../assets/images/content/pro1.jpg" alt="" title="">
      <span><sup>$</sup>650.000</span>
    </div>
    <div class="rle_property_infobox_details">
      <div class="rle_property_infobox_details_header">
        <ul>
          <li class="rle_red_clr">for sale</li>
          <li class="rle_black_clr">hot offer</li>
        </ul>
        <h3><a href="#">The Chalet Estate</a></h3>
        <p>KT89B Hampton Court, England, United Kingdom</p>
      </div>
      <div class="rle_property_infobox_details_footer">
        <p>Area : 3578 sqft </p>
        <ul>
          <li><i class="fa fa-bed" aria-hidden="true"></i> 03</li>
          <li><i class="fa fa-bath" aria-hidden="true"></i> 02</li>
          <li><i class="fa fa-taxi" aria-hidden="true"></i> yes</li>
        </ul>
      </div>
    </div>
  </div>
</div>
