<!-- Footer Wrapper start -->
<div class="rle_footer_wrapper rle_toppadder100">
	<div class="container">
		<div class="row">
			<div class="rle_top_footer">
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="widget text-widget">
						<img src="../../../../assets/images/icon/logo.png" alt="Footer Logo" />
						<p class="rle_footertext">Alpha Housing.com is No 1 Property portal and has been adjudged as the most preferred by independent surveys the portal provides a platform for property.</p>
						<a href="#" class="rle_btn">Get offer today</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-12">
					<div class="widget text-widget">
						<h4 class="widget-title">Company</h4>
						<ul>
							<li><a href="#">Browse Properties</a></li>
							<li><a href="#">Landlords</a></li>
							<li><a href="#">Renters</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-12">
					<div class="widget text-widget">
						<h4 class="widget-title">Support</h4>
						<ul>
							<li><a href="#">Help & FAQ</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Our Partners</a></li>
							<li><a href="#">Term & Services</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="widget text-widget">
						<h4 class="widget-title">Reach out</h4>
						<ul>
							<li><p><i class="fa fa-map-marker" aria-hidden="true"></i> Cecilia Chapman, 711-2880 Nulla St.<br> Mankato Mississippi 96522</p></li>
							<li><p><i class="fa fa-envelope-open-o" aria-hidden="true"></i> <a href="#">Hello@alphahousing.com</a></p></li>
							<li><p><i class="fa fa-phone" aria-hidden="true"></i> 1 (773) 377-2804  |  1 (855) 781-7189</p></li>
						</ul>
						<ul class="rle_social_iicon">
							<li><a href="#"><img src="../../../../assets/images/icon/ftr_scl1.png" alt="" title=""></a></li>
							<li><a href="#"><img src="../../../../assets/images/icon/ftr_scl2.png" alt="" title=""></a></li>
							<li><a href="#"><img src="../../../../assets/images/icon/ftr_scl3.png" alt="" title=""></a></li>
							<li><a href="#"><img src="../../../../assets/images/icon/ftr_scl4.png" alt="" title=""></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="rle_bottom_footer">
				<p>Copyright © 2017 <a href="#">Alpha Housing</a>. Made with love by <span>ThinhTran</span></p>
			</div>
		</div>
	</div>
</div>
