.rle_banner_text{
	float:left;
	width:100%;
	text-align:center;
	padding:165px 0px 0px 0px;
}
.rle_banner_text h1{
	float:left;
	width:100%;
  font-weight: 700;
  font-size: 35px;
	color:#ffffff;
	text-transform:uppercase;
}
.rle_banner_text h1 span{
	color:#eeb32a;
}
.rle_banner_text p{
	float:left;
	width:100%;
	color:#ffffff;
	margin:0px;
	font-size:18px;
}
