/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

/*--------- Body Strat -------*/
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #695b5b;
	-webkit-font-smoothing: antialiased;
}
/*---------- Normal css start -------*/
a {
	color: #695b5b;
	text-decoration: none;
}
a:hover, a:focus {
	color: #707070;
	text-decoration: none;
}
a:focus {
	outline: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.1;
	font-weight:700;
	color: #303030;
}
img {
	max-width: 100%;
}
input, select {
	outline: none;
}
input:focus, select:focus {
	outline: none !important;
	box-shadow:none !important;
}
textarea {
	outline: none;
	border-radius:0px !important;
}
textarea:focus {
	outline: none !important;
	box-shadow:none !important;
}
.rle_toppadder10{
	padding-top:10px;
}
.rle_toppadder20{
	padding-top:20px;
}
.rle_toppadder30{
	padding-top:30px;
}
.rle_toppadder40{
	padding-top:40px;
}
.rle_toppadder50{
	padding-top:50px;
}
.rle_toppadder60{
	padding-top:60px;
}
.rle_toppadder70{
	padding-top:70px;
}
.rle_toppadder80{
	padding-top:80px;
}
.rle_toppadder90{
	padding-top:90px;
}
.rle_toppadder100{
	padding-top:100px;
}
.rle_bottompadder10{
	padding-bottom:10px;
}
.rle_bottompadder20{
	padding-bottom:20px;
}
.rle_bottompadder30{
	padding-bottom:30px;
}
.rle_bottompadder40{
	padding-bottom:40px;
}
.rle_bottompadder50{
	padding-bottom:50px;
}
.rle_bottompadder60{
	padding-bottom:60px;
}
.rle_bottompadder70{
	padding-bottom:70px;
}
.rle_bottompadder80{
	padding-bottom:80px;
}
.rle_bottompadder90{
	padding-bottom:90px;
}
.rle_bottompadder100{
	padding-bottom:100px;
}

.rle_btn_wrapper{
	float:left;
	width:100%;
	text-align:center;
}
.rle_btn{
	display:inline-block;
	height:50px;
	line-height:48px;
	width:auto;
	padding:0px 25px;
	border:2px solid #00aeef;
	color:#ffffff;
	background-color:#00aeef;
	border-radius:3px;
	text-transform:uppercase;
	text-decoration:none;
	position:relative;
	z-index:1;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.rle_btn:after{
	content:"";
	position:absolute;
	background-color: rgb(158, 158, 158);
	top:0;
	left:100%;
	right:100%;
	bottom:0;
	z-index:-1;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.rle_btn:hover:after{
	right:0;
	left:0;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.rle_btn:hover{
	color:#ffffff;
	text-decoration:none;
	border:2px solid #00aeef;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
